@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Poppins:wght@100;400&display=swap');
:root{
    scroll-behavior: smooth;
    --color_one: rgb(255, 255, 255);
    --color_two: rgb(250, 234, 6);
    
    --color_three: rgb(182, 177, 177);
    --color_four: rgba(121, 113, 113, 0.596);
    --background: rgb(18 18 18);
    --background_m: rgb(39, 38, 38);
    --secundary-shadow: -2px -2px 2px rgba(66, 65, 65, 0.863),
                         2px 2px 2px rgba(29, 28, 28, 0.801);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body{    
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--background);
    color: var(--color_one);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a{ text-decoration: none;}

section[id]{ scroll-margin-top: 80px;}

body::-webkit-scrollbar{ width: 10px;}

body::-webkit-scrollbar-thumb{
    background: var(--color_two);
    border-radius: 5px;
    border-right: 2px solid var(--background_m);
}
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;    
}

.header .navbar__logo{
    display: flex;    
    margin-left: 35px;
    margin: 5px;
    color: var(--color_one);
    padding-left: 25px;     
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
}
.header .navbar__logo img{
    width: 40px;
    margin-right: 15px;
}

.btn{
    position: fixed;
    top: 25px;
    right: 15px;
    color: var(--color_two);  
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;    
    cursor: pointer;
}

.navbar__links{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: var(--color_two);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 999;
    clip-path: circle(0 at 100% 0);
    transition: all .3s ease-in-out;    
}

.link__section{
    color: var(--background);
    font-size: 20px;
    letter-spacing: 2px;    
}
.link__section::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    border-radius: 2px;
    background: var(--background);
    transition: width 250ms ease-in-out;
}
.link__section:hover::after{ width: 100%; }

.navbar__links .fa-times{   
    color: var(--background_m);
    border: 1px solid var(--background_m);     
}

.visibility{ clip-path: circle(850px at 100% 0); }

 /*------------ Home - Inicio --------------  */
.main__home{
    min-height: 100vh;
    position: relative;        
}

.bg-p{ padding: 0 30px;}

.article__presentation{   
    position: absolute; 
    display: flex;  
    flex-direction: column; 
    width: 90%;
    top: 65%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 1;    
}

.article__presentation h2{  
    font-size: 1rem; 
    font-weight: 300;   
}

.article__presentation h1{
    text-shadow: 1px 3px 5px var(--color_three);    
    font-size: 2.3rem;   
    text-transform: uppercase;    
    padding: 10px 0;
    letter-spacing: 3px;    
    font-family: 'Bebas Neue', cursive;
}

.article__presentation p{   
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 2px;       
}
.article__presentation .spaciality{
    text-transform: uppercase;      
    font-weight: 400;
}

.btn__cta-CV{    
    margin-top: 28px;    
    width: 180px;    
    text-align: center;
    background-color: transparent;
    color: var(--color_two);
    border: 1px solid var(--color_two);
    padding: 15px 30px;   
    letter-spacing: 3px;
}

.btn__cta-CV:hover{
    transition: .3s ease-in;
    background: var(--color_two);
    color: var(--background);
    box-shadow: 0 0 5px var(--color_two);    
}

.main__social-media{
    position: absolute;
    top: 115%;
    left: inherit;
    display: flex;
    justify-content: flex-start;
    gap: 20px;    
}

.main__social-media a{ color: var(--color_four);}

.main__social-media i { font-size: 2rem;}

.main__social-media i:hover{ color: var(--color_two);}

.figure__img{ 
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 225px;
    height: 225px;
    border-radius: 50%;  
     
}
.figure__img img{    
    width: inherit;    
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);    
}
/* -------------------Section - About -------------------------------------------- */
.section__aboutme{
    position: relative;
    display: flex;
    flex-direction: column;  
    margin-top: 25px;    
}

.section__title{
    display: flex;    
    justify-content: center;    
    align-items: center;
    text-align: center;    
    padding-bottom: 2.5rem;
    color: var(--color_two);
    font-size: 2rem;
}

.section__subtitle{
    display: flex;    
    justify-content: center;    
    align-items: center;
    text-align: center; 
    margin-top: 1.875rem;
    color: var(--color_two);
    letter-spacing: 3px;    
}

.section__presentation{ 
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure__img-1{
    position: relative;
    width: 85%; 
    height: auto;
    margin: 0;    
    justify-content: center;    
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.figure__img-1 img{
    width: 130px;       
    height: 380px;
    background-size: cover;
    background-position: center;      
}

.article__description{
    display: flex;
    flex-direction: column;     
    /* border-radius: 8px;
    padding: 1rem 0;     */
    /* margin: 0 15px; */
    letter-spacing: 1.5px;  
}

.article__description p{    
    color: var(--color_one);
    font-weight: 300;    
    font-size: 16px;
}

.light-link{ color: var(--color_two); }

.article__info{ padding-top: 25px;}

.info__item{
    list-style-type: none;
    padding-bottom: 1rem;
    font-size: 16px;
}

.item{
    font-size: 1rem;
    color: var(--color_two);
    padding-right: 5px;
}

/* ------------------------------------- */
/* -------------------Skill -------------------------------------------- */
/* ----------------------------------------------------------- */

.section__skill{
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 1.5rem;
}

.section__skill--icon{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem;
    color: var(--color_three);
}

.section__skill--icon i{ font-size: 2.5rem;}

.section__skill--icon span{ padding: 0.5rem;}

/* --------------------------------------------------- */
/* -------------------Section - Services-------------------------------------------- */

.section_services--cards{
    position: relative;
    display: flex;
    flex-direction: column;    
    text-align: center;
    width: 100%;
    flex-wrap: wrap;    
}

.services__card{    
    margin-bottom: 2rem;
    padding: .5rem;   
    border-radius: 10px;         
}

.services__card span{
    display: flex;
    justify-content: center;    
    color: var(--color_two);
    padding: 1rem;
    font-size: 1.3rem;    
}

.services__card p{    
    letter-spacing: 1px;    
    margin: 30px 0;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}

.services__card img{ width: 90%;}

/* ------------------------------------------------------------ */
/* -------------------Section - Proyects-------------------------------------------- */

.section__proyect--cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;    
    text-align: center;    
}

.proyects__card{position: relative;}

.proyects__card span{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.2rem 0;
    color: var(--color_two);
}

.proyects__card img{      
    width: 100%;    
    border-radius: 10px;  
    margin-bottom: 40px;   
}

/* ----------------------------------------------------- */
/* -------------------Section - Footer-------------------------------------------- */
.footer{    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;    
    margin-top: 45px;
    position: relative;
    background-color: var(--color_two);  
    text-align: center;
    color: var(--background);
}

.footer h3{
    padding: 40px;
    font-size: 2rem; 
    font-family: 'Dancing Script', cursive;  
}

.footer span{   
    padding: 25px;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.footer h4{
    position: absolute;
    bottom: 2%;    
}

.footer__social--media{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.social__media--link{
    position: relative;
    text-decoration: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;    
    margin: 5px;
    color: var(--background_m);
    box-shadow: 0 0 5px var(--background);    
}

.social__media--link i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

@media screen and (min-width: 600px) {     
    .article__presentation{
        top: 65%;
        transition: .8s;
    }
    .article__presentation h2{
        font-size: 1.7rem;
    }

    .section__presentation{ display: flex;}    

    .figure__img-1{ padding-right: 2rem;}

    .figure__img-1 img{
        height: 500px;
        width: 200px;
    } 

    .section_title{ padding-top: 5rem;}

    .section_services--cards{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }
}

@media screen and (min-width: 800px){
    .logo{ margin-left: 50px;}
    
    .fa-times{ display: none;}

    .navbar__links{
        position: relative;
        width: 60%;
        clip-path: none;
        flex-direction: row;         
        background: var(--background);
        transition: none;
    }
   
    .link__section{
        color: var(--color_one);
        font-weight: 300;        
        font-size: 15px;
    }

    .link__section:hover{
        color: var(--color_two);
        transition: all .3s;
    }
    
    .active{color: var(--color_two);}

    .article__presentation{top: 50%;}

    .article__presentation h1{ font-size: 4rem;}

    .article__description{ margin: 0 20px;}

    .figure__img{
        position: absolute;        
        display: flex;
        width: 50%;
        height: 350px;
        top: 24%;        
        left: 45%;     
    } 

    .main__social-media{
        top: 135%;
        left: 35%;
    }

    .section__presentation{flex-direction: row;}

    .section__subtitle{ padding: 3rem;}

    .section__skill{
        grid-template-columns: repeat(5,1fr);
        grid-gap: 2rem;       
    }

    .services__card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services__card p{
        width: 70%;
        text-align: center;        
    }

    .services__card img{ width: 50%;}   
   
    .social__media--link{
       width: 3.2rem;
       height: 3.2rem;
    }

    .social__media--link i{ font-size: 2rem;}   
}

@media screen and (min-width: 950px){
    .section__proyect--cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;       
    }
    
    .proyects__card img{ height: 250px;}
    .proyects__card img:hover{
        transform: scale(1.07);
        transition: all 0.5s;
    
    }
}